<div class="container">
  <h1>Welcome to Anagram Checker</h1>
  <p>Type a word below to find its anagrams</p>
 
  <form id="anagram" action="/" method="post">
    <input type="text" name="word">
    <input type="submit" name="Search!">
  </form>
 
    <% if @anagrams  %>
      <div class="results">
        <h3>Your anagrams:</h3>
        <ul>
          <% @anagrams.each do |w| %>
            <li><%= w.word.capitalize %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
</div>