<div class="container">
  <h1>Welcome to Anagram Finder</h1>
  <p>Type a word below to find its anagrams</p>

  <form id="anagram" action="/" method="post">
    <input type="text" name="word" placeholder="Type your word">
    <input type="submit" name="Search!">
  </form>

 <div>
 <ul> </ul>
 </div>
</div>
